.card
	width: 300px
	border-radius: 5px
	&__meta
		margin-left: 5px
	&__header
		height: 50px
		background-color: #32309ad7
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		border-top-left-radius: 5px
		border-top-right-radius: 5px
	&__content
		background-color: #ececec
		display: flex
		flex-direction: column
		align-items: center
		min-height: 250px
	&__item
		display: inline
		height: 55px
		width: 270px
		background-color: #fff
		margin: 5px 0
		text-align: center
		vertical-align: center
		border-radius: 5px
		-webkit-box-shadow: 4px 4px 8px -2px rgba(34, 60, 80, 0.09)
		-moz-box-shadow: 4px 4px 8px -2px rgba(34, 60, 80, 0.09)
		box-shadow: 4px 4px 8px -2px rgba(34, 60, 80, 0.09)
