.product-page {

  &__wrapper {
    display: flex;
  }
  .product-gallery {
    margin: 0 65px 0 0;
    &__main img {
      max-width: 570px;
    }
    &__row {
      max-width: 570px;
      display: flex;
      justify-content: flex-start;
      margin: 10px 0;
    }
  }
  .product-thumbnail {
    margin: 0 9px 0 0;
    img {
      border-radius: 5;
    }
    &.active {
      border: 2px solid #6F73EE;
      border-radius: 5px;
    }
  }

  // Product page info
  .product-basic {
    &__title h1 {
      margin: 0 0 15px 0;
      font-weight: 600;
      font-size: 35px;
      line-height: 51px;      
      text-transform: uppercase;
    }
    .product-subtitle {
      margin: 0 0 25px 0;
      max-width: 380px;
      &__row {
        display: flex;
        justify-content: space-between;
        margin: 0 0 25px 0;
      }
      &__item {
        margin: 0 20px 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #5D6C7B;
        display: flex;
        align-items: center;
      }
      &__item img {
        margin: 0 10px 0 0;
      }
    }

    .product-price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
    }
    .price-block {
      &__wrapper {
        display: flex;        
        border-radius: 5px;
        padding: 12px 15px;
        align-items: center;
      }
      &__main-price {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-decoration-line: line-through;
        color: #5D6C7B;
      }
      &__discount-price {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 36px;
        text-transform: uppercase;
      }
      &__icon {
        margin: 0 10px 0 0;
      }
      &__info {
        span {
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;          
          color: #5D6C7B;          
        }
        /* 14 px (medium) */
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #282739;
      }
    }
    .price-block-bg {
      background-color: $bg-color;
    }
  }


  .info-section {
    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;
      color: #282739;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      img {
        padding-left: 10px;
      }
    }
    &__body {
      // display: flex;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px 0;
    }
    &__row:nth-child(2) {
      margin-bottom: 0;
    }
    .product-info__border-line {
      border-bottom: 1px solid #EAEBED;
      margin: 30px 0;
    }
  }
  .info-subsection {
    &__label {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #5D6C7B;
    }
    .subsection-content {
      display: flex;
      justify-content: space-between;
      &__main-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #282739;
      }
      &__secondary-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #282739;

      }
    }
    .settings a {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #6F73EE;
      text-decoration: none;
    }
  }
  .gift-section {
    &__header {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
    }
    &__right-block {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #5D6C7B;
      span {
        color: #282739;
        font-size: 16px;
        font-weight: 700;
      }
    }
    &__body {
      background-color: $bg-color;
      border-radius: 5px;
      padding: 25px 20px;
    }
    .gift-box {
      &__title {
        font-weight: 700;
        font-size: 18px;
        margin: 0 0 25px 0;
      }
      &__row {
        display: flex;
        justify-content: space-between;
      }
    }
    .gift-block {
      display: flex;
      img {
        padding-right: 15px;
      }
    }
  }
  .product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
      // margin: auto 0;
      // border: 1px solid red;
      // display: inline;
      // flex-direction: column;
    }
    padding: 32px 35px;
    border: 1.5px solid #EAEBED;
    border-radius: 5px;
    max-width: 227px;
    flex: 0 0 227px;
    text-align: center;
    &__label {
      // display: inline-block;
      font-weight: 700;
      margin-bottom: 15px;
    }
    &__sublabel {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #5D6C7B;
      margin-top: 20px;
    }
    &.selected {
      border: 1.5px solid $main-blue-color;
    }
  }
}