@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');
body {
  font-family: 'Jost', sans-serif;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  &__wrapper {
    border-bottom: 2px solid #ECF3FF;
  }
  &__top {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-top-menu {
      display: flex;
      &__block {
        margin: 0 30px 0 0;
        a {
          color: #5D6C7B;
          text-decoration: none;
          font-size: 12px;
          line-height: 17px;        
        }
        .block-social {
          img {
            margin: 0 8px 0 0;
          }
        }      
      }
    }
    .header-contact {
      display: flex;
      flex: 0 0 150px;

      &__phone {
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        color: #282739;
      }
      &__phone-icon {
        margin: 0 0 0 8px;
      }
    }
  }

  &__body {
    margin: 20px 0 35px 0;
    .body-wrapper {
      display: flex;
      align-items: center;
    }
    .header-logo {
      width: 165px;
    }
    .header-body {
      height: 105px;     
    }
    .header-catalog {
      margin: 0 20px 0 0;
      .menu-catalog {
        width: 114px;
        height: 40px;

        display: flex;
        background-color: #6F73EE;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        &__icon {
          margin: 0 5px 0 0;
        }
      }
    }
    .header-search {
      width: 603px;
      height: 40px;
      border: 2px solid #6F73EE;
      border-radius: 5px;

      .form-search {
        &__wrapper {
          display: flex;
          align-items: center;
        }
        
        &__dropdown {
          width: 76px;
          height: 36px;
          display: flex;
          margin: 0 0 0 2px;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          background-color: #F4F7FB;
          .dropdown__label {
            margin: 0 10px 0 0;
            font-size: 14px;
            color: #282739;
          }
          .dropdown__icon {
            background-image: url('./images/header/arrow-down.svg');
            background-repeat: no-repeat;
            width: 8px;
            height: 7px;            
          }
        }

        &__input {
          width: 523px;
          position: relative;

          input[type="text"] {
            width: 470px;
            height: 36px;
            border: 0;
            outline: none;
            padding: 0 0 0 10px;
          }
          input[type="submit"] {
            position: absolute;
            top: 0;
            right: -2px;
            width: 40px;
            height: 40px;
            border: 0;
            background-color: #6F73EE;
            background-image: url('./images/header/search-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
    .header-shopping {
      width: 175px;
      display: flex;
      margin: 0 0 0 47px;

      &__block {
        margin: 0 25px 0 0;
      }
    }
  }
  &__menu {
    background-color: #F4F7FB;
    height: 40px;
  }
  .menu-header {
    line-height: 36px;
    &__list {
      list-style: none;
      display: flex;
      padding: 0;
      li {
        margin: 0 50px 0 0;
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #282739;
        }
      }
    }

    &__menu-icon {
      background-color: #6F73EE;
      color: #fff;
      font-size: 12px;
      padding: 3px 8px;
      border-radius: 300px;
      &.bank {
        margin: 0 0 0 8px;
      }
      &.percent {
        background-image: url('./images/header/percentage.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 0 8px;        
      }

    }
  }

}