@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');

$main-blue-color: #6F73EE;
$main-black-color: #282739;
$second-color: hsl(210, 14%, 42%);
$bg-color: #F4F7FB;

@import 'general.scss';
@import 'header.scss';
@import 'products.scss';
@import 'product-page.scss';
@import 'shopping-cart.scss';



/*  body {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
 }

 .btn {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: flex;
  width: 20px;
  height: 20px;
 }

 .btn span {
  width: 20px;
  height: 2px;
  background: #000;
  display: flex;
  position: absolute;
  transition: .3s;
 }

 .btn span:nth-child(1) {
  top: 20%;
 }

 .btn span:nth-child(2) {
  top: 80%;
 }

.btn.is-active span {
  background: #fff;
}

.btn.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.btn.is-active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}

.menu {
  background: #171717;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 1;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu__link {
  position: relative;
  display: inline-flex;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:after {
  content: '';
  position: absolute;
  bottom: -10px;
  top: 0;
  width: 0;
  height: 5px;
  display: inline-flex;
  background: #c5e600;
  transition: .3s;
}

.menu__link:hover:after {
  width: 100%;
}
 */
/* 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #ccc;
  }
 .menu {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__list {
    display: flex;
    list-style-type: none;
    
  }
  &__item {
    margin-right: 30px;
  }
  &__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fc6b3f;
  }
 }

 .sub-menu {
    background-color: #fff;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    height: 250px;
    opacity: 0;
    visibility: hidden;
    padding-top: 40px;

    &__container {
      display: flex;
    }

    &__cat-list {
      list-style: none;    
      width: 120px;
      margin-left: 30px;
      margin-right: 40px;
      border-right: 1px solid #ccc;
    }

    &__cat-item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__cat-link {
      text-decoration: none;
      font-size: 18px;
      background-color: #fc6b3f;      
      color: #fff;
      padding: 8px 10px;
      border-radius: 5px;
    }
    &.is-active {
      opacity: 1;
      visibility: visible;
     }


     // Sub navs
    &__inner {
      position: relative;      
    }

    &__sub-list {
      position: absolute;
      top: 0;
      list-style: none;
      margin-bottom: 30px;
      opacity: 0;
      visibility: hidden;
      width: 200px;

      li {
        margin-bottom: 10px;
      }
      a {
        text-decoration: none;
        font-size: 18px;
      }

      &.is-active {
        visibility: visible;
        opacity: 1;
      }
    }

  

 }
 */